body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content-wrapper {
  display: flex;
  justify-content: center;
}

.mapouter {
  margin-top: 40px;
  width: 90vw !important;
  height: 50vh !important;
}